[submodule "packages/server_submodule"]
	path = packages/server_submodule
	url = https://github.com/Guillemvm03/repo_back_actividadesSubmodulos.git
[submodule "packages/client_submodule"]
	path = packages/client_submodule
	url = https://github.com/Guillemvm03/repo_front_actividadesSubmodulos.git
[submodule "packages/client_submodulee"]
	path = packages/client_submodulee
	url = https://github.com/Guillemvm03/repo_front_actividadSubmodulos.git
[submodule "packages/server_submodulee"]
	path = packages/server_submodulee
	url = https://github.com/Guillemvm03/repo_back_actividadesSubmodulos.git
